.jumbotron {
    background-image: url("../images/logo.png");
    background-color: #1a274a;
    background-repeat: no-repeat;
    background-position: center;
}

.h1 {
    text-transform: capitalize;
}

.display-4 {
    font-weight: 600;
    font-size: 2.5em;
    text-transform:uppercase;
}
